<!-- <mat-grid-list cols="3" rowHeight="0.8:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>
    <div class="center">
      <button mat-flat-button routerLink="/Cadastro">Cadastrar-se</button>
      <button mat-flat-button routerLink="/Login">Fazer Login</button>
      <button mat-flat-button (click)="onGoogleLogin()">
        Entrar com Google
      </button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
</mat-grid-list> -->
<div class="gradient-line"></div>
<div class="unlogged-container">
  <div class="left-side">
    <span class="fw-bold">WiseTraining</span>
    <span class="display-3 fw-bold">Descubra novos interesses</span>
    <p class="lead">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    <div class="button-container">
      <button mat-flat-button routerLink="/Cadastro">Cadastrar-se</button>
      <button mat-stroked-button routerLink="/Login">Fazer Login</button>
    </div>
  </div>
  <div class="right-side">
    <img src="" alt="">
  </div>
</div>