<div class="gradient-line"></div>
<div class="login-container">
    <h1>Login</h1>
    <form (ngSubmit)="onSubmit()" class="form" [formGroup]="loginForm">
        <mat-form-field>
            <mat-label>Nome de usuário</mat-label>
            <input type="text" matInput formControlName="username">
            <mat-error *ngIf="getUsernameError()">{{ getUsernameError() }}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input type="password" matInput formControlName="password"
                placeholder="Ex. pat@example.com">
            <mat-error *ngIf="getPasswordError()">{{ getPasswordError() }}</mat-error>
        </mat-form-field>
        <button type="submit" mat-stroked-button>Fazer login</button>
        <button mat-flat-button (click)="onGoogleLogin()">
            Entrar com Google
        </button>
    </form>
</div>