@use '@angular/material' as mat;

html, body {
  height: 100%;
  background-color: var(--background-color);
  color: rgb(6, 7, 7);
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

* {
  font-family: 'Poppins', sans-serif !important;
}

.mat-icon {
  font-family: 'Material Icons' !important;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;  // optional, default size
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.mat-typography,
.mat-h1, .mat-headline-5,
.mat-typography .mat-h1, .mat-typography .mat-headline-5,
.mat-typography h1, .mat-typography h2, .mat-typography h3,
.mat-typography h4, .mat-typography h5, .mat-typography h6,
.mat-typography p, .mat-typography span, .mat-typography div {
  font-family: 'Poppins', sans-serif !important;
}

.primary-text {
  color: rgb(158, 61, 61);
}

:root {
  //#3265d2
  //#9c94e7
  //#7d66de
  // testo: #080418
    --primary-color: #3265d2;
    --secondary-color: #9c94e7;
    --terciary-color: #7d66de;
    --text-color: #080418;
    --background-color: rgb(240, 240, 240);
  @include mat.button-overrides((
    // filled button
    filled-container-color: var(--primary-color),
    filled-label-text-color: rgb(255, 255, 255),
    filled-hover-state-layer-opacity: 0.12,
    filled-container-height: 56px,

    outlined-outline-color: #dad1e0,
    outlined-label-text-color: var(--text-color),
    outlined-hover-state-layer-opacity: 0.12,
    outlined-container-height: 56px,
    
    filled-disabled-container-color: rgb(50, 40, 117),
    filled-disabled-label-text-color: #9c9c9c,
  ));
}